* {
  margin: 0;
  padding: 0;
  border: border-box;
}

button {
  color: #131126;
  font-size: 14px;
  font-weight: 700;
  padding: 16px 24px;
  border: none;
  background-color: #FAE0E1;
  border-radius: 5px;
}
button:hover {
  background-color: rgba(255, 136, 0, 0.911);
}

body {
  font-family: "Plus Jakarta Sans";
}
body header {
  margin-top: 30px;
}
body header nav {
  height: 60px;
  width: 100%;
}
body header nav .navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body header nav .navbar .navbar-menu {
  margin-right: 300px;
}
body header nav .navbar .navbar-menu ul li {
  display: inline;
  margin-left: 80px;
}
body header nav .navbar .navbar-menu ul li a {
  color: #201C44;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 10px;
}
body header nav .navbar .navbar-menu ul li a:hover {
  background-color: #131126;
  color: rgba(246, 227, 227, 0.945);
  border-radius: 5px;
}
body header .header-container {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body header .header-container .header-info {
  width: 40%;
}
body header .header-container .header-info .header-title {
  color: #201C44;
  font-size: 54px;
  font-weight: 700;
  line-height: 62px;
  margin-bottom: 40px;
}
body header .header-container .header-info .header-description {
  color: #131126;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 40px;
}
body header .header-container .header-info .content-wraper button {
  margin-right: 32px;
}
body header .header-container .header-info .content-wraper .content-img {
  margin-right: 32px;
  height: 16px;
  width: 9px;
}
body header .header-container .header-info .content-wraper span {
  color: #131126;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
}
body header .header-container .header-info .rate-section {
  margin-top: 60px;
  display: flex;
}
body header .header-container .header-info .rate-section .rate-img {
  height: 34px;
  width: 34px;
  background-color: #FAE0E1;
  display: flex;
  justify-content: center;
  align-items: center;
}
body header .header-container .header-info .rate-section .rate-description {
  color: #131126;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-left: 32px;
}
body header .header-container .header-img {
  height: 580px;
  width: 570px;
  background-color: #FAE0E1;
  position: relative;
}
body header .header-container .header-img .img1 {
  height: 620px;
  position: absolute;
  margin-top: -40px;
  margin-left: -60px;
}
body header .header-container .header-img .img2 {
  width: 172.108px;
  height: 168.828px;
  margin-top: 39px;
  margin-left: 454px;
}
body main .services {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  width: 100%;
}
body main .services .services-text {
  width: 230px;
  height: 60px;
}
body main .services .services-text h2 {
  color: #131126;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}
body main .services .services-icon img {
  height: 60px;
  width: 60px;
  margin-left: 70px;
}
body main .about-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}
body main .about-section .person-img {
  width: 60%;
  position: relative;
}
body main .about-section .person-img .images {
  width: 100%;
  position: absolute;
}
body main .about-section .person-img .images .img1 {
  margin-top: -350px;
  margin-left: -150px;
}
body main .about-section .person-img .images .img2 {
  position: absolute;
  margin-left: 150px;
  margin-top: -650px;
}
body main .about-section .person-img .images .img3 {
  margin-left: 500px;
  margin-top: -750px;
}
body main .about-section .person-info {
  width: 40%;
  z-index: 10;
}
body main .about-section .person-info .info-title {
  color: #201C44;
  font-size: 38px;
  line-height: 60px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 40px;
}
body main .about-section .person-info .info-description {
  color: #201C44;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 50px;
  width: 80%;
}
body main .about-section .person-info .about-section-icons {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
  margin-bottom: 12px;
}
body main .about-section .person-info .about-section-icons .icon-img {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  background-color: #FAE0E1;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .about-section .person-info .about-section-icons .icon-img:hover {
  background-color: rgba(255, 136, 0, 0.911);
}
body main .about-section .person-info button {
  margin-top: 60px;
}/*# sourceMappingURL=style.css.map */