* {
    margin: 0;
    padding: 0;
    border: border-box;
}

// Share styles
button {
    color: #131126;
    font-size: 14px;
    font-weight: 700;
    padding: 16px 24px;
    border: none;
    background-color: #FAE0E1;
    border-radius: 5px;
    &:hover {
        background-color: rgba(255, 136, 0, 0.911);
    }
}

// Styles
body {
    font-family: 'Plus Jakarta Sans';
    header {
        margin-top: 30px;
        nav {
            height: 60px;
            width: 100%;
            .navbar {
                display: flex;
                justify-content: space-around;
                align-items: center;
                .navbar-menu {
                    margin-right: 300px;
                    ul {
                        li {
                            display: inline;
                            margin-left: 80px;
                            a {
                                color: #201C44;
                                text-decoration: none;
                                font-size: 14px;
                                font-weight: 700;
                                padding: 5px 10px;
                                &:hover {
                                    background-color: #131126;
                                    color: rgba(246, 227, 227, 0.945);
                                    border-radius: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .header-container {
            margin-top: 80px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .header-info {
                width: 40%;
                .header-title {
                    color: #201C44;
                    font-size: 54px;
                    font-weight: 700;
                    line-height: 62px;
                    margin-bottom: 40px;
                }
                .header-description {
                    color: #131126;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 28px;
                    margin-bottom: 40px;
                }
                .content-wraper {
                    button {
                        margin-right: 32px;
                    }
                    .content-img {
                        margin-right: 32px;
                        height: 16px;
                        width: 9px;
                    }
                    span {
                        color: #131126;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 28px;
                    }
                }
                .rate-section {
                    margin-top: 60px;
                    display: flex;
                    .rate-img {
                        height: 34px;
                        width: 34px;
                        background-color: #FAE0E1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .rate-description {
                        color: #131126;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 28px;
                        margin-left: 32px;
                    }
                }
            }
            .header-img {
                height: 580px;
                width: 570px;
                background-color: #FAE0E1;
                position: relative;
                .img1 {
                    height: 620px;
                    position: absolute;
                    margin-top: -40px;
                    margin-left: -60px;
                }
                .img2 {
                    width: 172.108px;
                    height: 168.828px;
                    margin-top: 39px;
                    margin-left: 454px;
                }
            }
        }
    }
    main {
        .services {
            margin-top: 70px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 150px;
            width: 100%;
            .services-text {
                width: 230px;
                height: 60px;
                h2 {
                    color: #131126;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 28px;
                }
            }
            .services-icon {
                img {
                    height: 60px;
                    width: 60px;
                    margin-left: 70px;
                }
            }
        }
        .about-section {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 100px;
            .person-img {
                width: 60%;
                position: relative;
                .images {
                    width: 100%;
                    position: absolute;
                    .img1 {
                        margin-top: -350px;
                        margin-left: -150px;
                        
                    }

                    .img2 {
                        position: absolute;
                        margin-left: 150px;
                        margin-top: -650px;
                        
                    }

                    .img3 {
                        
                        margin-left: 500px;
                        margin-top: -750px;
                        
                        
                    }
                }

            }
            .person-info {
                width: 40%;
                    z-index: 10;
                .info-title {
                    color: #201C44;
                    font-size: 38px;
                    line-height: 60px;
                    font-weight: 700;
                    line-height: 120%;
                    margin-bottom: 40px;
                }
                .info-description {
                    color: #201C44;
                    font-size: 16px;
                    line-height: 28px;
                    font-weight: 400;
                    margin-bottom: 50px;
                    width: 80%;
                }
                .about-section-icons {
                    
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 30px;
                    margin-bottom: 12px;
                    .icon-img {
                        height: 50px;
                        width: 50px;
                        border-radius: 5px;
                        background-color: #FAE0E1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &:hover {
                            background-color: rgba(255, 136, 0, 0.911);
                        }
                    }
                }
                button {
                    margin-top: 60px;
                }
            }
        }

        .feature-section {
            margin: 100px 50px;
            height: 200px;
            width: 100%;
            background-color: #3C3679;
            display: flex;
            justify-content: space-around;
            align-items: center;
            
            .element {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 25px;
                .img {
                    height: 40px;
                    width: 40px;
                    border-radius: 5px;
                    background-color: #F3DEB3;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}