* {
    margin: 0;
    padding: 0;
    border: border-box;
}

// Share styles
button {
    color: #131126;
    font-size: 14px;
    font-weight: 700;
    padding: 16px 24px;
    border: none;
    background-color: #FAE0E1;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    &:hover {
        background-color: rgba(255, 136, 0, 0.911);
    }
}

.feature-section {
    margin: 100px 68px;
    height: 200px;
    width: 90%;
    border-radius: 5px;
    background-color: #3C3679;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .element {
        width: 30%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 25px;
        .img {
            height: 50px;
            width: 50px;
            border-radius: 5px;
            background-color: #F3DEB3;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                background-color: rgba(255, 136, 0, 0.911);
            }
        }
        p {
            width: 60%;
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
        }
    }
}

// Styles
body {
    font-family: 'Plus Jakarta Sans';
    header {
        margin-top: 30px;
        nav {
            height: 60px;
            width: 100%;
            .navbar {
                display: flex;
                justify-content: space-around;
                align-items: center;
                .navbar-menu {
                    margin-right: 300px;
                    ul {
                        li {
                            display: inline;
                            margin-left: 80px;
                            a {
                                color: #201C44;
                                text-decoration: none;
                                font-size: 14px;
                                font-weight: 700;
                                padding: 5px 10px;
                                &:hover {
                                    background-color: #131126;
                                    color: rgba(246, 227, 227, 0.945);
                                    border-radius: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .header-container {
            margin-top: 80px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .header-info {
                width: 40%;
                .header-title {
                    color: #201C44;
                    font-size: 54px;
                    font-weight: 700;
                    line-height: 62px;
                    margin-bottom: 40px;
                }
                .header-description {
                    color: #131126;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 28px;
                    margin-bottom: 40px;
                }
                .content-wraper {
                    display: flex;
                    align-items: center;
                    button {
                        margin-right: 32px;
                    }
                    .content-img {
                        margin-right: 32px;
                        height: 16px;
                        width: 9px;
                    }
                    span {
                        color: #131126;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 28px;
                    }
                }
                .rate-section {
                    margin-top: 60px;
                    display: flex;
                    .rate-img {
                        height: 34px;
                        width: 34px;
                        background-color: #FAE0E1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .rate-description {
                        color: #131126;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 28px;
                        margin-left: 32px;
                    }
                }
            }
            .header-img {
                height: 580px;
                width: 570px;
                background-color: #FAE0E1;
                position: relative;
                .img1 {
                    height: 620px;
                    position: absolute;
                    margin-top: -40px;
                    margin-left: -60px;
                }
                .img2 {
                    width: 172.108px;
                    height: 168.828px;
                    margin-top: 39px;
                    margin-left: 454px;
                }
            }
        }
    }
    main {
        .services {
            margin-top: 70px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 150px;
            width: 100%;
            .services-text {
                width: 230px;
                height: 60px;
                h2 {
                    color: #131126;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 28px;
                }
            }
            .services-icon {
                img {
                    height: 60px;
                    width: 60px;
                    margin-left: 70px;
                }
            }
        }
        .about-section {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 100px;
            .person-img {
                width: 60%;
                position: relative;
                .images {
                    width: 100%;
                    position: absolute;
                    .img1 {
                        margin-top: -350px;
                        margin-left: -150px;
                        
                    }

                    .img2 {
                        position: absolute;
                        margin-left: 150px;
                        margin-top: -650px;
                        
                    }

                    .img3 {
                        
                        margin-left: 500px;
                        margin-top: -750px;
                        
                        
                    }
                }

            }
            .person-info {
                width: 40%;
                    z-index: 10;
                .info-title {
                    color: #201C44;
                    font-size: 38px;
                    line-height: 60px;
                    font-weight: 700;
                    line-height: 120%;
                    margin-bottom: 40px;
                }
                .info-description {
                    color: #201C44;
                    font-size: 16px;
                    line-height: 28px;
                    font-weight: 400;
                    margin-bottom: 50px;
                    width: 80%;
                }
                .about-section-icons {
                    
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 30px;
                    margin-bottom: 12px;
                    .icon-img {
                        height: 50px;
                        width: 50px;
                        border-radius: 5px;
                        background-color: #FAE0E1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &:hover {
                            background-color: rgba(255, 136, 0, 0.911);
                        }
                    }
                }
                button {
                    margin-top: 60px;
                    
                }
            }
        }

        // about section2 styles

        .about-section2 {
            display: flex;
            justify-content: space-around;
            align-items: center;
            
            .about-section-info {
                width: 40%;
                
                h3 {
                    color: #201C44;
                    font-size: 38px;
                    font-weight: 700;
                    line-height: 120%;
                    margin-bottom: 40px;
                }

                p {
                    
                    color: #131126;
                    font-size: 16px;
                    font-weight: 400;
                    list-style: 28px;
                    width: 80%;
                    margin-bottom: 40px;;
                    span {
                        font-weight: 700;
                    }
                    
                }
                input {
                    color: #131126;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 28px;
                    padding: 16px;
                    padding-right: 40%;
                    margin-bottom: 20px;
                    border: none;
                    box-shadow: 5px 1px 5px 1px gray;
                    
                }
                button {
                    margin-top: 40px;
                }
                
            }

            .about-section2-img {
                width: 40%;
                position: relative;
                

                .main-img {
                    height: 580px;
                    margin-left: -170px;
                    margin-top: -76px;
                }

                .icon1 {
                    margin-left: 450px;
                    margin-bottom: -153px;
                }

                .icon2 {
                    margin-left: -560px;
                    margin-bottom: -260px;
                }
            }
        }

        .service-section {
            margin-top: 100px;
            .section-title {
                text-align: center;
                h3 {
                    color: #201C44;
                    font-size: 38px;
                    font-weight: 700;
                    line-height: 120%;
                    margin-bottom: 20px;
                }

                p {
                    color: #131126;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 28px;
                    margin-bottom: 40px;
                }
            }

            .service-container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 420px;
                text-align: left;
                gap: 20px;
                .services {
                    height: 100%;
                    width: 30%;
                    border-radius: 10px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;
                    
                    .service-img {
                        height: 60%;
                        width: 100%;
                        border-radius: 10px;
                        margin-bottom: 15px;
                    }
                    .img1 {
                        background-image: url('../Assets/images/groupImg1.png');
                        height: 100%;
                        width: 100%;
                        background-size: cover;
                    }

                    .img2 {
                        background-image: url('../Assets/images/groupImg2.png');
                        height: 100%;
                        width: 100%;
                        background-size: cover;
                    }

                    .img3 {
                        background-image: url('../Assets/images/groupImg3.png');
                        background-size: cover;
                        height: 100%;
                        width: 100%;
                        background-position: bottom;
                    }

                    p {
                        color: #131126;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 28px;
                        margin-bottom: 20px;
                    }

                    h3 {
                        color: #201C44;
                        font-size: 24px;
                        line-height: 32px;
                        font-weight: 700;
                        margin-bottom: 20px;
                    }

                    .icon {
                        height: 50px;
                        width: 50px;
                        border-radius: 5px;
                        background-color: #FAE0E1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        &:hover {
                            background-color: rgba(255, 136, 0, 0.911);
                        }
                    }
                }
            }
        }

        .about-section3 {
            margin-top: 150px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .header-info {
                width: 40%;
                .header-title {
                    color: #201C44;
                    font-size: 54px;
                    font-weight: 700;
                    line-height: 62px;
                    margin-bottom: 40px;
                }
                .header-description {
                    color: #131126;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 28px;
                    margin-bottom: 40px;
                }
                .content-wraper {
                    display: flex;
                    align-items: center;
                    button {
                        margin-right: 32px;
                    }
                    .content-img {
                        margin-right: 32px;
                        height: 16px;
                        width: 9px;
                    }
                    span {
                        color: #131126;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 28px;
                    }
                }
                .rate-section {
                    margin-top: 60px;
                    display: flex;
                    .rate-img {
                        height: 34px;
                        width: 34px;
                        background-color: #FAE0E1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .rate-description {
                        color: #131126;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 28px;
                        margin-left: 32px;
                    }
                }
            }
            .header-img {
                height: 580px;
                width: 570px;
                position: relative;
                .img1 {
                    height: 620px;
                    position: absolute;
                    margin-top: -40px;
                    margin-left: 70px;
                }
                .img2 {
                    width: 172.108px;
                    height: 168.828px;
                    margin-top: 100px;
                    margin-left: 400px;
                }
            }
        }
    }
}