* {
    margin: 0;
    padding: 0;
    border: border-box;
}

// Share styles
// Styles
body {
    font-family: 'Plus Jakarta Sans';
    header {
        margin-top: 30px;
        nav {
            height: 60px;
            width: 100%;
            .navbar {
                display: flex;
                justify-content: space-around;
                align-items: center;
                .nav-logo {}
                .navbar-menu {
                    margin-right: 300px;
                    ul {
                        li {
                            display: inline;
                            margin-left: 80px;
                            a {
                                color: #201C44;
                                text-decoration: none;
                                font-size: 14px;
                                font-weight: 700;
                            }
                        }
                    }
                }
                button {
                    color: #131126;
                    font-size: 14px;
                    font-weight: 700;
                    padding: 16px 24px;
                    border: none;
                    background-color: #f8d3d4;
                    border-radius: 5px;
                }
            }
        }
    }
}